.container{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    
}
.centerPosition{
    display: flex;
    justify-content: center;
}
.login{
    border: 2px solid lightgray;
    border-radius: 10%;
    width: 40%;
}
.btn{
    margin-left: 45%;
}
.datum{
    text-decoration: underline;
    font-weight: bold;
}